/* Colors*/
:root {
    --basic-black: #000000;
    --basic-darkest-blue: #161D29;
    --basic-social-dark-blue: #212A3A;
    --basic-darker-blue: #293449;
    --basic-dark-blue: #32425C;
    --basic-light-blue: #F3F7F9;
    --basic-dark-white: #F9F5F0;
    --basic-white: #FFFFFF;
    --basic-white-transparent: rgba(255, 255, 255, 0.3); 
    --basic-green-dark: #518534;
    --basic-green: #63A63E;
    --basic-green-light: #5FBB2D;
    --basic-button-dark: #BA2732;
    --basic-button-color: #EE3643;
    --basic-font-transparent: rgba(255, 255, 255, 0.5);
    --basic-font-grey: #C5C5C5;
    --basic-font-white: #FFFFFF;
    --basic-yellow: #FFD180;
    --basic-border-grey: #E5E5E5;
    --basic-border-dark-grey: #C5C5C5;
    --basic-modal-grey: #F1F1F1;
    --basic-crossed-price: #A9A9A9;
    --basic-slider-wrapper: rgba(0, 0, 0, 0.25);
    --basic-item-border: #EAEAEA;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family:  "Cuprum", Arial, sans-serif ;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    color: var(--basic-white);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    display: none;
}

.red-button {
    background-color: var(--basic-button-color);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.red-button:active {
    background-color: var(--basic-button-dark);
}

.white-button {
    background-color: var(--basic-white);
    color: var(--basic-black);
    border-width: 1px;
    border-style: solid;
    border-color: var(--basic-border-grey);
    font-size: 13px;
    line-height: 18px; 
    text-transform: uppercase;
}

.white-button:hover {
    border-color: var(--basic-border-dark-grey);
}

.white-button:active {
    border-color: var(--basic-button-color);
}

.wrapper {
    min-width: 940px;
    margin: 0 130px;
}


/*header*/

.header-top {
    background-color: var(--basic-darker-blue);
}

.main-header {
    background-color: var(--basic-light-blue);
}


.header-search label:active {
    color: var(--basic-font-transparent)
}

.header-search input {
    background-color: transparent;
}

.header-search input:focus {
    background-color: var(--basic-white);
}


.top-header-button:active {
    background-color: var(--basic-darkest-blue);
    color: var(--basic-font-transparent);
}

.order-button {
    background-color: var(--basic-green);
}

.order-button:hover {
    background-color: var(--basic-green-light);
}

.order-button:active {
    background-color: var(--basic-green);
    color: var(--basic-font-transparent);
}

h1 {
    color: var(--basic-button-color);
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.header-phone {
    color: var(--basic-button-color);
    font-size: 21px;
    line-height: 30px;
}

address {
    color: var(--basic-dark-blue);
}

.user-button a {
    background-color: var(--basic-font-white);
    color: var(--basic-black);
    font-size: 21px;
        line-height: 21px;
}

.user-button a:hover {
    color: var(--basic-button-color);
}

.user-button a:active {
    color: var(--basic-font-grey);
}

.user-button-cabinet a{
    color: var(--basic-dark-blue);
}

nav {
    background-color: var(--basic-dark-blue);
    width: 940px;
}

nav a:hover {
    background-color: var(--basic-darker-blue);
}

nav a:active {
    background-color: #1D2739;
    color: var(--basic-font-transparent)
}

/*main*/



.material-section {
    background-color: #FFBF47;
    color: var(--basic-white)
}


/*sections*/

.tool-section {
    background-color: #3BBCE3;
}

.tech-section {
    background-color: #DC91D8;
}

.sale-section {
    background-color: #8ED78F;
}

.delivery-section {
    background-color: #FFC047;
}

.main-sections {
    min-width: 940px;
    margin: 0 130px;
}

.main-sections h3 {
    font-size: 24px;
    line-height: 30px;
}

.section-button {
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-white-transparent);
}

.sections-slider {
    background-image: url(../img/slider-background.jpg);
    background-repeat: no-repeat;
    min-width: 620px;
    min-height: 266px;

}

.sections-slider h3 {
    font-size: 36px;
    line-height: 36px;
}

.slider-wrapper {
    width: 620px;
    height: 104px;
    background-color: var(--basic-slider-wrapper);

}

/*popular*/

.popular {
    min-width: 940px;
    margin: 0 130px;
}

.popular-wrapper {
    background-color: var(--basic-dark-white);
}

.popular-wrapper h2 {
    color: var(--basic-dark-blue);
}

.popular-logo {
    width: 220px;
    height: 145px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--basic-item-border);
    text-align: center;
}


/*services*/

.services {
    min-width: 940px;
    margin: 0 130px;
    color: var(--basic-black);
}

.services-wrapper {
    background-color: var(--basic-light-blue);
}

.services p {
    font-size: 13px;
    line-height: 24px;
}

.service-point {
    background-color: var(--basic-dark-blue);
    color: var(--basic-white);
    width: 240px;
    height: 61px;
    font-size: 21px;
    line-height: 30px;
}

.service-point:hover {
    background-color: var(--basic-white);
    color: var(--basic-dark-blue);
}

.services h3 {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-dark-blue);
}




/*description and contacts*/

.description, .contacts {
    min-width: 940px;
    margin: 0 130px;
    color: var(--basic-black);
}

.description p {
    font-size: 13px;
    line-height: 24px;
}

.description li {

}

/*catalog*/

.catalog-nav a{
    color: var(--basic-black)
}

.blue-heading {
    background-color: var(--basic-light-blue);
    color: var(--basic-dark-blue);
}



/*catalog-filters*/

.catalog-filter legend {
    font-size: 17px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.catalog-filter label {
    font-size: 15px;
    line-height: 19px;
    color: var(--basic-black);
    text-transform: uppercase;
}

/*catalog-item*/

.item {
    border-width: 1px;
    border-style: solid;
    border-color: var(--basic-item-border);
    width: 220px;
    min-height: 318px;
    text-align: center;
}

.item a {
    color: var(--basic-black);
    line-height: 20px;
    font-weight: bold;
}

.item span {
    text-transform: uppercase;
}

.crossed-price {
    color: var(--basic-crossed-price);
    text-decoration: line-through;
    font-size: 17px;
    line-height: 18px;
}

.price {
    background-image: url(../img/red-button-price.png);
    font-size: 17px;
    line-height: 18px;
}

.buy-item {
    text-transform: uppercase;
    background-color: var(--basic-green);
    color: var(--basic-font-white);
    font-size: 14px;
    line-height: 18px;
    border-width: 0;
}

.buy-item:hover {
    background-color: var(--basic-green-light);
}

.buy-item:active {
    background-color: var(--basic-green-dark);
}

.in-bookmark {
    text-transform: uppercase;
    color: var(--basic-dark-blue);
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-white);
    border-style: solid;
    border-width: 2px;
    border-color: var(--basic-green);
}

.in-bookmark:hover {
    border-color: var(--basic-dark-blue);
}

.in-bookmark:active {
    opacity: 0.5; 
}


/*pages*/

.your-page {
    background-color: var(--basic-button-color  );
}

/*couple-words*/

.couple-words {
    background-color: var(--basic-light-blue);
    color: var(--basic-black);
    font-size: 13px;
    line-height: 24px;
}



/*footer*/

footer {
    background-color: var(--basic-dark-blue);
}

.footer-bottom {
    background-color: var(--basic-darker-blue);
}

footer address {
    color: var(--basic-light-blue);
}

.footer-phone {
    color: var(--basic-light-blue);
}

.social-button {
    background-color: var(--basic-social-dark-blue);
}

.yellow-link {
    color: var(--basic-yellow);
}


/*modal*/

.modal-buttons {
    background-color: var(--basic-modal-grey);
}

.modal {
    background-color: var(--basic-white);
    border-color: var(--basic-button-color);
    border-top: 7px;
}   


/*modal-feedback*/

.modal-feedback {
    display: none ;
}

/*modal-map*/

.modal-map {
    display: none;
}

/*modal-order*/

.modal-order {
    display: none;
    
}

